/* general rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  text-align: center;
}

.ms_sezione-pcolor{
  color: #B2B2B2;
}


/*debug rules*/
[class*="col-"] {
  /*min-height: 100px;
  background-color: lightgreen;
  border: solid 1px  #000;*/
  padding: 2px;
  position: relative;
}

/* body page rules */
.ms_centratura-page {
  padding: 0 10%;
}

.ms_text-centro{
  text-align: center;
}

/*HEADER*/
/*section ms_nav*/
.ms_logo{
  max-height: 3.5rem;
}

/*section1*/
#ms_sezione1{
  /*background-color: red;*/
  background-image: url(../img/home.jpg);
  padding-bottom: 15px;
  margin-top: 54px;
}

#ms_sign-up{
  border: solid 1px #005cff;
}

.ms_text-header{
  color: white;
  text-align: left;
  padding-right: 10px;
  font-family: 'Sailec-Bold';
}

.ms_sezione1-text{
  margin-top: 30px;
}

#ms_login-header{
text-align: center;
background-color: white;
border-radius: 4px;
margin-top: 30px;
margin-bottom: 25px;
}

.ms_blutext-header{
  color: #015cff;
}

/*section2*/
#ms_sezione2{
  background-color: #f3f5f9;
}

.ms_padding-sezione2{
  padding-top: 4px;
  padding-bottom: 4px;
}

/*section3*/
#ms_sezione3{
  background-color: white;
}

.ms_sezione3-textsize{
  font-size: 20px;
}

/*RA RIVEDERE*/
.ms_vertical-line {
  border-left: 6px solid #f3f5f9;
  height: 110px;
  position: absolute;
  left: 40%;
  margin-left: -3px;
  top: 0;
}

ul{
  list-style-type: none;
  padding-left: 170px;
}

.ms_sezione3-textleft{
  text-align: left;
}

/*section4*/
#ms_sezione4{
  background-color: #f3f5f9;
}

.ms_sezione4-carouselimg{
  padding: 10%;
  text-align: center;
}

/*section5*/
#ms_sezione5{
  background-color: white;
}

.ms_sezione5-text{
  padding-left: 10px;
  padding-right: 10px;
}

/*section6*/
#ms_sezione6{
  background-color: #006aff;
  color: white;
}

/*section7*/
#ms_sezione7{
  background-color: #f3f5f9;
}

.ms_sezione7-carouselimg{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 6%;
}

/*section8*/
#ms_sezione8{
  background-color: #006aff;
  color: white;
}

#ms_sezione8-button{
  background-color: white;
  color: #006aff;
  padding: 6px;
  margin-bottom: 12px;
  border: none;
  border-radius: 4%;
}

/*section9*/
#ms_sezione9{
  background-color: #010e28;
  color: white;
}

#ms_sezione9 ul{
  padding: 2px;
  text-align: left;
}

#ms_sezione9 i {
  font-size: 30px;
  padding-right: 4px;
}
